<hgroup class="title">
    <h1>@Page.Title Kundvagn</h1>
</hgroup>

@{
 Layout = "~/_SiteLayout.cshtml";
 Page.Title = "Kundvagn";

 var theKey = WebSecurity.CurrentUserId.ToString();
 var db = Database.Open("StarterSite"); @*  Öppnar databasen.  *@
 IList<int> kundvagn = (List<int>)WebCache.Get(theKey);

 if(kundvagn == null)
    {
        kundvagn = new List<int>();
        
        kundvagn.Add(Request["ID"].AsInt());
        
        WebCache.Set(theKey, kundvagn);
    }
    else
    {
        kundvagn.Add(Request["ID"].AsInt());
    }
     
     var queryString = "Select * from Product where ";
     for (int i = 0; i < kundvagn.Count; i++)
    {
        queryString += "Id = " + kundvagn[i];

        if( (i + 1) != kundvagn.Count)
        {
            queryString += " or ";
        }
    }
     var produkter = db.Query(queryString);
     
    


    foreach(var vara in produkter)
    {
        <div class="vagnVara">
            <p>@vara.Name | @vara.Price | <img src="@Href(vara.ThumbImg)" /></p> @*   Skriver ut produkterna i kundvagnen.   *@
            
            <a href="@Href("~/Kassa?ID=" + vara.Id)">Gå till kassa</a>
        </div>
    }

}

